<div class="footer-top" data-wow-duration="1000ms" data-wow-delay="300ms">
  <div class="container text-center">
    <div class="footer-logo">
      <a href="/"><hortiquet-white /></a>
    </div>
    <div class="social-icons">
      <ul>
        <li><a class="envelope" href="mailto:info@hortiquet.es"><i class="fa fa-envelope"></i></a></li>
        <li><a class="facebook" href="https://www.facebook.com/hortiquet"><i class="fa fa-facebook"></i></a></li>
        <li><a class="instagram" href="https://www.instagram.com/hortiquet/"><i class="fa fa-instagram"></i></a></li>
        <li><a class="tumblr" href="https://hortiquet.tumblr.com"><i class="fa fa-tumblr-square"></i></a></li>
        <li><a class="twitter" href="https://twitter.com/hortiquet"><i class="fa fa-twitter"></i></a></li>
        <li><a class="google-plus" href="https://plus.google.com/107432700918595870245"><i class="fa fa-google-plus"></i></a></li>
      </ul>
    </div>
  </div>
</div>
