<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Demystifying Email Design</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
</html>
<body style="margin: 0;padding: 0;">
<table align="center" border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse;">
 <tr>
  <td style="padding-top: 30px;padding-left:20px;">
    <b><%= name %></b>,
  </td>
 </tr>
 <tr>
  <td style="padding: 5px; padding-left: 20px">
    <p>Gracias por contactar con nosostros.</p>
    <p>Nos pondremos en contacto con usted lo antes posible.</p>
    <p>Un saludo.</p>
  </td>
 </tr>
 <tr>
   <td style="padding-left: 20px">
     <a href="http://www.hortiquet.es"><img src="http://www.hortiquet.es/assets/images/logos/hortiquet-logo.png" width="120" alt="hortiquet" style="display: inline;" /></a>
  </td>
 </tr>
 <tr>
   <td style="padding-left: 20px; padding-top: 10px;">

    <a href="mailto:info@hortiquet.es" style="padding: 5px;"><img src="http://www.hortiquet.es/assets/images/logos/mail.png" width="24" alt="mail" style="display: inline;" /></a>
    <a href="https://www.facebook.com/hortiquet" style="padding: 5px;"><img src="http://www.hortiquet.es/assets/images/logos/facebook.png" width="24" alt="facebook" style="display: inline;" /></a>
    <a href="https://www.instagram.com/hortiquet/" style="padding: 5px;"><img src="http://www.hortiquet.es/assets/images/logos/instagram.png" width="24" alt="instagram" style="display: inline;" /></a>
    <a href="https://twitter.com/hortiquet" style="padding: 5px;"><img src="http://www.hortiquet.es/assets/images/logos/twitter.png" width="24" alt="twitter" style="display: inline;" /></a>

   <td>
 </tr>
 <tr>
  <td style="padding-top: 50px;text-align: center;">
    <a href="http://www.umvelta.com"><img src="http://www.hortiquet.es/assets/images/logos/umvelta-logo.png" width="75" alt="umvelta" style="display: inline;" /></a>
  </tr>
  <tr>
   <td style="padding: 20px;">
    <table border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse;">
     <tr>
      <td style="padding-right: 10px;">
        <img src="http://www.hortiquet.es/assets/images/logos/nature.png" width="48" alt="nature" style="display: inline;" />
      </td>
      <td>
        <p style="color: #9a9a9a; font-size: small; font-weight: bold;text-align: justify;">
          Antes de imprimir este correo, por favor, comprueba si es realmente necesario. El medio ambiente es responsabilidad de todos.
        </p>
      </td>
     </tr>
    </table>
    <p style="color: #9a9a9a; font-size: small;text-align: justify;">
      Este mensaje se dirige exclusivamente a su destinatario y puede contener información privilegiada o confidencial.
      Si ha recibido este mensaje por error, le rogamos que nos lo comunique inmediatamente por esta misma vía y proceda a su destrucción.
      Queda notificado de que la lectura, utilización, divulgación y/o copia sin autorización está prohibida en virtud de la legislación vigente.
      Si no quiere recibir más información, por favor notifíquelo respondiendo a este mensaje.
    </p>
  </td>
 </tr>
</table>
</body>
</html>
