<!DOCTYPE HTML>
<!--
	Eventually by HTML5 UP
	html5up.net | @n33co
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Hortiquet</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="_launch/assets/css/main.css" />
    <link rel="stylesheet" href="_launch/assets/css/clock.css" />
    <link rel="stylesheet" href="_launch/assets/css/custom.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
    <link href='https://fonts.googleapis.com/css?family=Leckerli+One' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>
	</head>
	<body>

		<!-- Header -->
			<header id="header">
			     <img src="_launch/images/g5434.png" width="300">
			</header>

      <div id="clockdiv">
        <div>
          <span class="days"></span>
          <div class="smalltext">días</div>
        </div>
        <div>
          <span class="hours"></span>
          <div class="smalltext">horas</div>
        </div>
        <div>
          <span class="minutes"></span>
          <div class="smalltext">minutos</div>
        </div>
        <div>
          <span class="seconds"></span>
          <div class="smalltext">segundos</div>
        </div>
      </div>

		<!-- Footer -->
			<footer id="footer">

			</footer>

		<!-- Scripts -->
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
      <script src="_launch/assets/js/clockdown.js"></script>
			<script src="_launch/assets/js/main.js"></script>

	</body>
</html>
