<div id="cover">

    <div class="item active" style="background-image: url(http://cdn.hortiquet.es/assets/images/header-dark.jpg)">
      <div class="caption">
        <h1 class=""><hortiquet-white>Hortiquet</hortiquet-white></h1>
        <span>Un huerto en tu terraza</span>
      </div>
    </div>

    <i class="fa fa-angle-down"></i>

</div>
