<div class="inner"></div>

<div class="container">
  <h2>
    Ayúdanos a crear un Bosque</br>
  </h2>

  <h3>
    <i class="fa fa-tree"></i>
    <span style="font-size: 1.2em; margin-left: -15px;"><i class="fa fa-tree"></i></span>
    <span style="font-size: 0.8em; margin-left: -15px;"><i class="fa fa-tree"></i></span>
  </h3>

  <div class="row">
    <div class="bosques-sostenibles">
      <p>Umvelta colabora con <a href="http://www.bosquessostenibles.com/">Bosques Sostenibles</a> para que con la compra de tu <hortiquet>HortiQuet</hortiquet> estés ayudando a crear un bosque sostenible.</p>
      <a href="http://www.bosquessostenibles.com/" class=""><img src="http://cdn.hortiquet.es/assets/images/logos/logo-bosquessostenibles.png" class="img-responsive bosques-sostenibles-logo" /></a>
      <div>
        <canvas id="forest-chart" class=""></canvas>
        <p id="forest-chart-info">
          <i class="fa fa-tree" style="font-size:50px ;margin-bottom: 3px;"></i><br/>
          0
        </p>
      </div>
    </div>
  </div>

</div>
