<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <div class="about-info wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
        <p><i class="fa fa-quote-left"></i> Durante toda mi vida la huerta ha tenido un papel importante en mi familia. No sólo nos ha ofrecido verduras y hortalizas frescas sino que ha sido un lugar de aprendizaje y disfrute para todos nosotros.</p>
        <p>Queremos que todo el mundo pueda tener un trocito de huerta en su terraza y poder así disfrutar cultivando y cosechando sus propias hortalizas y aromáticas. </p>
        <p>Es una magnífica oportunidad de aprender y divertirse en familia cultivando. <i class="fa fa-quote-right"></i></p>
        <small><cite title="Nombre Apellidos">Nombre Apellidos</cite></small>
        <p></p>
      </div>
    </div>
  </div>
</div>
