<div class="container">
  <div class="row">
    <div class="heading text-center col-sm-6 col-sm-offset-3" data-wow-duration="1200ms" data-wow-delay="300ms">
      <h2>Quiénes Somos</h2>
      <p><a>Umvelta</a> es una empresa joven enfocada a ofrecer soluciones ambientales.
      <hortiquet>HortiQuet</hortiquet> es nuestra apuesta por incentivar el reciclaje y difundir el espiritu de la agroecología.
      Queremos acercar la huerta a los hogares utilizando los mismos basquets que durante años sirvieron para recoger las hortalizas que consumimos en las ciudades.</p>
      <a href="http://www.umvelta.es"><img src="http://cdn.hortiquet.es/assets/images/logos/umvelta-logo.png" /></a>
    </div>
  </div>
  <div class="team-members col-sm-6 col-sm-offset-3">
    <div class="row">
      <div class="col-sm-6">
        <div class="team-member" data-wow-duration="1000ms" data-wow-delay="300ms">
          <div class="member-info">
            <img src="http://cdn.hortiquet.es/assets/images/team/nombre.apellidos.png" width="100px" />
            <h3>Nombre</h3>
            <h4>CEO umvelta</h4>
          </div>
          <div class="social-icons">
            <ul>
              <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
              <li><a class="rss" href="#"><i class="fa fa-rss"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="team-member" data-wow-duration="1000ms" data-wow-delay="500ms">
          <div class="member-info">
            <img src="http://cdn.hortiquet.es/assets/images/team/nombre2.apellidos2.png" width="100px"/>
            <h3>Nombre2</h3>
            <h4>COO umvelta</h4>
          </div>
          <div class="social-icons">
            <ul>
              <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
              <li><a class="rss" href="#"><i class="fa fa-rss"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
