
    <div class="container">
      <div class="heading">
        <div class="row">
          <div class="text-center col-sm-8 col-sm-offset-2">
            <h2>Tu huerto en casa</h2>
          </div>
        </div>
      </div>
      <div class="contents">

        <div class="row">
          <div class="col-sm-8 col-sm-offset-2 whatis-img">
              <img src="http://cdn.hortiquet.es/assets/images/whatis-hortiquet.png" class="img-responsive"/>
          </div>
        </div>

        <div class="row">

          <div class="col-md-3 col-md-offset-2 features">
            <div class="row feature feature-first">
              <div class="feature-icon col-xs-3">
                <i class="fa fa-recycle"></i>
              </div>
              <div class="col-xs-9">
                <p>Una segunda oportunidad para basquets de madera.</p>
              </div>
            </div>

            <div class="row feature">
              <div class="feature-icon col-xs-3">
                <i class="fa fa-leaf"></i>
              </div>
              <div class="col-xs-9">
                <p>Consume fresco sin salir de casa.</p>
              </div>
            </div>

            <div class="row feature">
              <div class="feature-icon col-xs-3">
                <i class="fa fa-clock-o"></i>
              </div>
              <div class="col-xs-9">
                <p>Todo lo que necesitas para empezar a cultivar tus hortalizas y aromáticas.</p>
              </div>
            </div>
          </div>

          <div class="col-md-3 col-md-offset-2 features">
            <div class="row feature">
              <div class="feature-icon col-xs-3">
                <i class="fa fa-cutlery"></i>
              </div>
              <div class="col-xs-9">
                <p>Aprende, diviertete y come.</p>
              </div>
            </div>

            <div class="row feature">
              <div class="feature-icon col-xs-3">
                <i class="fa fa-home"></i>
              </div>
              <div class="col-xs-9">
                <p>Sólo necesitas un balcón o terraza, sol y agua.</p>
              </div>
            </div>

            <div class="row feature">
              <div class="feature-icon col-xs-3">
                <i class="fa fa-eye"></i>
              </div>
              <div class="col-xs-9">
                <p>Decora con naturaleza.</p>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
