<div class="footer-bottom">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <p>Designed by <a href="http://www.umvelta.com/">umvelta</a></p>
      </div>
      <div class="col-sm-4 text-center">
      </div>
      <div class="col-sm-4">
        <p  class="pull-right">&copy; 2016 Hortiquet</p>
      </div>
    </div>
  </div>
</div>
