<div class="container legals">
<div class="content">

  <h1>Aviso Legal</h1>
  <p>
    El presente Aviso Legal regula el uso del sitio web {{website}} (en adelante, el "{{webAbrv}}") propiedad de {{legalResponsible}}, en adelante {{legalAbrv}}.
  </p>

  <h2>Legislación</h2>
  <p>
    Con carácter general las relaciones entre {{legalAbrv}} con los Usuarios de sus servicios telemáticos, presentes en este {{webAbrv}}, se encuentran sometidas a la legislación y jurisdicción españolas.
  </p>

  <h2>Uso y Acceso de Usuarios</h2>
  <p>
    El acceso al {{webAbrv}} por parte de los usuarios tiene carácter libre y gratuito. El acceso, navegación y uso del {{webAbrv}} es responsabilidad del usuario, por lo que éste se compromete a usar los contenidos de forma diligente, correcta y lícita.
  </p>

  <h2>Propiedad Intelectual e Industrial</h2>
  <p>
    Los derechos de propiedad intelectual del contenido de las páginas web, su diseño gráfico y códigos son titularidad de {{legalAbrv}} y, por tanto, queda prohibida su reproducción, distribución, comunicación pública, transformación o cualquier otra actividad que se pueda realizar con los contenidos de sus páginas web ni aun citando las fuentes, salvo consentimiento por escrito de {{legalAbrv}}.
  </p>
  <p>
    A excepción de las imágenes procedentes de la fuente freepik usadas en el diseño de la página web, cuyos derechos y normas de utilización quedan recogidos en su página web <a href="http://www.freepik.es">http://www.freepik.es</a>.
  </p>
  <p>
    <a href="http://www.freepik.es"><img src="https://media.freepik.com/img/logo-footer.png" style="text-align: center" width="100px"></a>
  </p>
  <p>
     Diseñados de Freepik empleados:
     <ul>
       <li><a href="http://www.freepik.es/vector-gratis/pinos-llenos-hermosos-bosques-banderas_844950.htm"><i class="fa fa-picture-o"></i> 844950</a></li>
       <li><a href="http://www.freepik.es/vector-gratis/variedad-de-iconos-de-personas_782066.htm"><i class="fa fa-picture-o"></i> 782066</a></li>
       <li><a href="http://www.freepik.es/vector-gratis/vector-de-mapas-con-marcadores_714012.htm"><i class="fa fa-picture-o"></i> 714012</a></li>
       <li><a href="http://www.freepik.es/vector-gratis/fondo-de-la-comida-sana_777211.htm"><i class="fa fa-picture-o"></i> 777211</a></li>
       <li><a href="http://www.freepik.es/vector-gratis/frutas-y-hortalizas-iconos_794830.htm"><i class="fa fa-picture-o"></i> 794830</a></li>
     </ul>
  </p>

  <h2>Contenido de la Web y Enlaces (Links)</h2>
  <p>
    En el {{webAbrv}} el usuario podrá encontrar enlaces a otras páginas web mediante diferentes botones, links, etc.
    Dichos enlaces tienen finalidad meramente informativa y no suponen una sugerencia, invitación o recomendación para la visita de estos lugares de destino y por ello no se responsabiliza del resultado obtenido a través de los mismos.
    {{legalAbrv}} no asume responsabilidad alguna por la información contenida en páginas web de terceros a las que se pueda acceder por "links" o enlaces desde cualquier página web propiedad de {{legalAbrv}} .
  </p>

  <h2>Exclusión de la Responsabilidad</h2>
  <p>
    {{legalAbrv}} declina cualquier responsabilidad respecto de la información que se halle tanto fuera como dentro de ésta página cuando no esté gestionada directamente por su webmaster.
    Reservándose la facultad de efectuar, en cualquier momento y sin necesidad de previo aviso, modificaciones y actualizaciones en la información contenida en su {{webAbrv}} o en la configuración y presentación de éste, así como suspender temporalmente el acceso al mismo.
    Tanto el acceso a este {{webAbrv}} Web como el uso que pueda hacerse de la información contenida en el mismo es de la exclusiva responsabilidad de quien lo realiza.
    {{legalAbrv}} no responderá de ninguna consecuencia, daño o perjuicio que pudieran derivarse de dicho acceso o uso de la información. Asimismo, no se hace responsable de los posibles errores de seguridad que se puedan producir ni de los posibles daños que puedan causarse al sistema informático del usuario (hardware y software), o de los ficheros o documentos almacenados en el mismo, como consecuencia de la presencia de virus en el ordenador del Usuario utilizado para la conexión a los servicios y contenidos de la web de un mal funcionamiento del navegador o del uso de versiones no actualizadas del mismo.
  </p>

</div>
</div>
