<div class="container legals">
<div class="content">

  <h1>Política de Privacidad</h1>
  <p>
    Su privacidad es de suma importancia para nosotros. Valoramos mucho la confianza depositada en nuestro sitio web y nos comprometemos a proteger y salvaguardar su información personal.
  </p>

  <h2>Envío y Registro de Datos de Carácter Personal</h2>
  <p>
    El envío de datos de carácter personal es obligatorio para contactar y recibir información sobre los servicios prestados por {{legalAbrv}} a través de la web {{website}}.
    Asimismo, el no facilitar los datos personales solicitados o el no aceptar la presente política de protección de datos supone la imposibilidad de suscribirse, registrarse o recibir información de dichos servicios.
    A efecto de lo previsto en la Ley Orgánica 15/1999, de 13 de diciembre de Protección de Datos de Carácter Personal, {{legalResponsible}}, en adelante {{legalAbrv}}, informa al Usuario de la existencia de un fichero de titularidad de {{legalAbrv}}, inscrito en el Registro General de Protección de Datos.
    Cuya finalidad principal es gestionar y atender cada una de las solicitudes de los usuarios y el envío de información de los productos y servicios de la empresa, teniendo implementadas todas las medidas de seguridad establecidas en el Real Decreto 1720/2007, de 21 de diciembre.
  </p>

  <h2>Exactitud y Veracidad de los Datos Facilitados</h2>
  <p>
    El Usuario que envía la información a {{legalAbrv}}, a través de la web {{website}}, es el único responsable de la veracidad y corrección de los datos incluidos, exonerándose al mismo de cualquier responsabilidad al respecto.
    Los usuarios garantizan y responden, en cualquier caso, de la exactitud, vigencia y autenticidad de los datos personales facilitados, y se comprometen a mantenerlos debidamente actualizados.
    El usuario acepta proporcionar información completa y correcta en el formulario de registro o suscripción.
    {{legalAbrv}} no responde de la veracidad de las informaciones que no sean de elaboración propia y de las que se indique otra fuente, por lo que tampoco asume responsabilidad alguna en cuanto a hipotéticos perjuicios que pudieran originarse por el uso de dicha información.
    Se exonera a {{legalAbrv}} de responsabilidad ante cualquier daño o perjuicio que pudiera sufrir el Usuario como consecuencia de errores, defectos u omisiones, en la información facilitada por {{legalAbrv}} siempre que proceda de fuentes ajenas al mismo.
  </p>

  <h2>Cesión de Datos a Terceros</h2>
  <p>
    {{legalAbrv}} no cederá los datos personales a terceros. No obstante, su información personal será compartida en caso de observar fraude con la autoridad competente.
  </p>

  <h2>Ejercicio de Derechos de Acceso, Rectificación, Cancelación y Oposición</h2>
  <p>
    En cumplimiento de la Ley Orgánica 15/1999, de 13 de diciembre, de Protección de Datos de carácter personal podrá dirigir sus comunicaciones y ejercitar los derechos de acceso, rectificación, cancelación en los términos previstos legalmente a su información personal que aparece en los ficheros y bases de datos propiedad de {{legalAbrv}}.
    {{legalAbrv}} a través de su sitio web {{website}},  facilita a los usuarios los modelos para el ejercicio de los derechos ARCO en formato de .PDF, que podrán ser descargados y cumplimentados por los usuarios y remitidos por correo electrónico a {{legalEmail}} indicando en el asunto del mensaje “Ejercicio de derechos ARCO:” seguida de la correspondiente opción: ACCESO, RECTIFICACIÓN, CANCELACIÓN U OPOSICIÓN.
    El responsable del tratamiento del fichero se pondrá en contacto con el usuario o afiliado en un plazo máximo no superior a 7 días laborables para contestar a la solicitud y resolver de manera motivada sobre la petición de ejercicio de cualquiera de los derechos de acceso, rectificación, cancelación u oposición.
  </p>
  <ul class="nostyle">
    <li>
      <i class="fa fa-file-text"></i>
      <a href="/assets/docs/arco/acceso.pdf">
        Acceso
      </a>
    </li>
    <li>
      <i class="fa fa-file-text"></i>
      <a href="/assets/docs/arco/rectificacion.pdf">
        Rectificación
      </a>
    </li>
    <li>
      <i class="fa fa-file-text"></i>
      <a href="/assets/docs/arco/cancelacion.pdf">
        Cancelación
      </a>
    </li>
    <li>
      <i class="fa fa-file-text"></i>
      <a href="/assets/docs/arco/oposicion.pdf">
        Oposición
      </a>
    </li>
  </ul>


  <h2>Seguridad de la Información Personal</h2>
  <p>
    {{legalAbrv}} utiliza un sistema de encriptación para proteger la información personal de sus Usuarios.
  </p>

  <h2>¿Cómo {{legalAbrv}} Recopila,  Utiliza y Comparte sus Datos Personales?</h2>
  <p>
    Pedidos: utilizamos sus datos personales para completar y administrar su pedido online.
  </p>
  <p>
    Acciones de marketing: podemos utilizar sus datos para desarrollar acciones de marketing, tal y como permite la ley.
  </p>
  <p>
    Investigaciones de mercado: En ocasiones invitamos a nuestros clientes a participar en investigaciones de mercado.
  </p>
  <p>
    Los datos personales que nos facilite para participar en las investigaciones de mercado solo serán utilizados bajo su expreso consentimiento.
  </p>
  <p>
    Detección y prevención del fraude: podemos utilizar información personal para detectar y prevenir acciones fraudulentas y otras actividades ilegales o no deseadas.
  </p>
  <p>
    Mejoras de nuestros servicios: utilizamos información personal para fines analíticos, mejoras en nuestros servicios, mejoras en la experiencia del cliente y mejoras en la funcionalidad y calidad de nuestros servicios online.
  </p>

  <h2>Menores de Edad</h2>
  <p>
    {{legalAbrv}} sólo admite en su sitio web {{website}} el registro de personas o usuarios mayores de edad. 
    La mayoría de edad en España está fijada en los 18 años según la Constitución Española y el Código Civil.
    Cualquier petición de registro realizada por persona menor de 18 años, será eliminada de la base de datos de {{legalAbrv}} de manera automática.
  </p>

  <h2>Aceptación y Consentimiento</h2>
  <p>
    El Usuario declara haber sido informado de las condiciones sobre protección de datos de carácter personal, aceptando y consintiendo el tratamiento de los mismos por parte de {{legalAbrv}}, en la forma y para la finalidad indicadas en la presente Política de Privacidad.
  </p>

  <h2>Cambios en la Presente Política de Privacidad</h2>
  <p>{{legalAbrv}} se reserva el derecho a modificar la presente política para adaptarla a novedades legislativas o jurisprudenciales así como a prácticas de la empresa. En dichos supuestos, {{legalAbrv}} anunciará en esta página los cambios introducidos con razonable antelación a su puesta en práctica.</p>

</div>
</div>
