<div class="container legals">
<div class="content">
  <h1>Política de Cookies</h1>
  <p>
    Le informamos que este sitio web instala cookies propias y de terceros al visitar nuestras páginas. Al continuar navegando, consideramos que acepta su uso.
  </p>

  <h2>¿Qué son las Cookies?</h2>
  <p>
    Las Cookies son pequeños ficheros de texto no ejecutables que se instalan en el ordenador del usuario que está visitando un sitio web y se usan para registrar ciertas interacciones de la navegación en dicho sitio web. Estos archivos que se almacenan en el ordenador del usuario contienen datos anónimos y se utilizan para recordar preferencias de usuario, datos de acceso y personalizaciones en el sitio web.
  </p>
  <p>
    Según quien sea la entidad que gestione el equipo o dominio desde donde se envían las cookies y trate los datos que se obtengan, podemos distinguir:
    <ul>
      <li>
        Cookies propias:
        Son aquéllas que se envían al equipo terminal del usuario desde un equipo o dominio gestionado por el propio editor y desde el que se presta el servicio solicitado por el usuario.
      </li>
      <li>
        Cookies de terceros:
        Son aquéllas que se envían al equipo terminal del usuario desde un equipo o dominio que no es gestionado por el editor, sino por otra entidad que trata los datos obtenidos través de las cookies.
      </li>
    </ul>
  </p>

  <h2>¿Qué tipo de Cookies existen?</h2>
  <ul>
    <li>
      Cookies técnicas:
      Son aquéllas que permiten al usuario la navegación a través de una página web, plataforma o aplicación y la utilización de las diferentes opciones o servicios que en ella existan como, por ejemplo, controlar el tráfico y la comunicación de datos, identificar la sesión, acceder a partes de acceso restringido, recordar los elementos que integran un pedido, realizar el proceso de compra de un pedido, realizar la solicitud de inscripción o participación en un evento, utilizar elementos de seguridad durante la navegación, almacenar contenidos para la difusión de videos o sonido o compartir contenidos a través de redes sociales.
    </li>
    <li>
      Cookies de personalización:
      Son aquéllas que permiten al usuario acceder al servicio con algunas características de carácter general predefinidas en función de una serie de criterios en el terminal del usuario como por ejemplo serian el idioma, el tipo de navegador a través del cual accede al servicio, la configuración regional desde donde accede al servicio, etc.
    </li>
    <li>
      Cookies de análisis:
      Son aquéllas que permiten al responsable de las mismas, el seguimiento y análisis del comportamiento de los usuarios de los sitios web a los que están vinculadas. La información recogida mediante este tipo de cookies se utiliza en la medición de la actividad de los sitios web, aplicación o plataforma y para la elaboración de perfiles de navegación de los usuarios de dichos sitios, aplicaciones y plataformas, con el fin de introducir mejoras en función del análisis de los datos de uso que hacen los usuarios del servicio.
    </li>
    <li>
      Cookies publicitarias:
      Son aquéllas que permiten la gestión, de la forma más eficaz posible, de los espacios publicitarios que, en su caso, el editor haya incluido en una página web, aplicación o plataforma desde la que presta el servicio solicitado en base a criterios como el contenido editado o la frecuencia en la que se muestran los anuncios.
    </li>
    <li>
      Cookies de publicidad comportamental:
      Son aquéllas que permiten la gestión, de la forma más eficaz posible, de los espacios publicitarios que, en su caso, el editor haya incluido en una página web, aplicación o plataforma desde la que presta el servicio solicitado. Estas cookies almacenan información del comportamiento de los usuarios obtenida a través de la observación continuada de sus hábitos de navegación, lo que permite desarrollar un perfil específico para mostrar publicidad en función del mismo.
    </li>
  </ul>

  <h2>¿Qué tipo de Cookies utilizamos en esta web?</h2>
  <p>
    {{legalAbrv}} desde su página web {{website}} utiliza cookies técnicas y funcionales para hacer que mejore su experiencia en nuestra web.
    Si usted deshabilita las cookies de {{website}} no nos hacemos responsables de las interrupciones en la navegación o la lentitud al cargar las diferentes secciones.
    También usamos cookies analíticas de terceros como Google Analytics para entender cómo utilizan la página web nuestros usuarios, detectar qué funciona y qué no, optimizar y mejorar la página web y asegurarnos de que nuestros usuarios siguen considerando nuestro sitio web interesante y relevante.
    Los datos que recogemos incluyen las páginas web que usted ha visitado, páginas de referencia/salida en las que ha entrado y salido, tipo de plataforma que utiliza, información de fecha/hora y datos como el número de clics que ha hecho en una página determinada, movimientos de ratón y desplazamientos, palabras de búsqueda que utiliza, y texto que escribe cuando utiliza nuestra página web.
    También utilizamos las cookies analíticas como parte de nuestras campañas de publicidad online para ver cómo los usuarios interactúan con nuestra página web después de que se les haya mostrado un anuncio online, donde también pueden aparecer anuncios de páginas web de terceros. 
    Sin embargo, no sabremos quién es usted porque la información que obtenemos es anónima.
  </p>

  <h2>¿Cómo gestionar sus preferencias sobre las cookies?</h2>
  <p>
    La mayoría de los navegadores aceptan la utilización de cookies de forma automática, pero se puede configurar ud. mismo su navegador para no aceptarlas o para que le avise cuando se quiera guardar una cookie, puede consultar y modificar la configuración de su navegador en los siguientes enlaces:
  </p>
  <ul class="nostyle">
    <li>
      <i class="fa fa-internet-explorer"></i>
      <a href="http://windows.microsoft.com/es-es/windows-vista/block-or-allow-cookies">
        Configuración para Internet Explorer
      </a>
    </li>
    <li>
      <i class="fa fa-firefox"></i>
      <a href="https://support.mozilla.org/es/kb/habilitar-y-deshabilitar-cookies-sitios-web-rastrear-preferencias?redirectlocale=es&redirectslug=habilitar-y-deshabilitar-cookies-que-los-sitios-we">
        Configuración para Firefox
      </a>
    </li>
    <li>
      <i class="fa fa-chrome"></i>
      <a href="https://support.google.com/chrome/answer/95647?hl=es">
        Configuración para Chrome
      </a>
    </li>
    <li>
      <i class="fa fa-safari"></i>
      <a href="https://support.apple.com/es-es/HT201265">
        Configuración para Safari
      </a>
    </li>
  </ul>

</div>
</div>
