<h3><a class="pull-right" ng-click="cart.clearItems()"><i class="fa fa-trash"></i></a></h3>
<h1>Carrito</h1>

<table class="table table-hover">
<thead>
  <tr>
    <th class="small active">
      <div class="col-xs-6">
        <div class="col-md-4">ITEM</div>
        <div class="col-md-8 visible-md visible-lg">DESCRIPCIÓN</div>
      </div>
      <div class="col-xs-6">
        <div class="col-md-4 visible-md visible-lg">PRECIO</div>
        <div class="col-md-8">
          <div class="col-xs-6 visible-sm visible-md visible-lg">UD</div>
          <div class="col-xs-6">TOTAL</div>
        </div>
      </div>
    </th>
  </tr>
</thead>

<tbody>
  <tr ng-repeat="item in cart.items">
    <td>
      <div class="col-sm-6">
        <div class="col-md-4">
          <img ng-src="{{item.img}}" class="img-responsive" />
          <span class="tiny text-muted">{{item.sku}}</span>
        </div>
        <div class="col-md-8">
          <h4>{{item.name}}</h4>
          <p>{{item.skushortname}}</p>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="col-md-4 visible-md visible-lg text-right">{{item.price - item.taxes | number:2}} €</div>
        <div class="col-md-8">
          <div class="col-xs-6 text-right">
            <input id="item-quantity" name="itemquantity" type="number" placeholder="0" class="form-control text-center" required="required" ng-model="item.quantity" min="0" max="99" ng-change="cart.checkItem(item)">
          </div>
          <div class="col-xs-6 text-right">{{cart.getSubtotalPrice(item.sku) | number:2}} €</div>
        </div>
      </div>
    </td>
  </tr>

  <tr>
    <td>
      <div class="col-sm-6"></div>
      <div class="col-sm-6">
        <div class="col-md-4"></div>
        <div class="col-md-8 small">
          <div class="col-xs-6">Subtotal</div>
          <div class="col-xs-6 text-right">{{cart.getSubtotalPrice() | number:2 }} €</div>
        </div>
      </div>
    </td>
  </tr>

  <tr>
    <td>
      <div class="col-sm-6"></div>
      <div class="col-sm-6">
        <div class="col-md-4"></div>
        <div class="col-md-8 small">
          <div class="col-xs-6">IVA 21%</div>
          <div class="col-xs-6 text-right">{{cart.getTotalTaxes() | number:2 }} €</div>
        </div>
      </div>
    </td>
  </tr>
  <tr>
    <td>
      <div class="col-sm-6"></div>
      <div class="col-sm-6">
        <div class="col-md-4"></div>
        <div class="col-md-8">
          <div class="col-xs-6"><b>Total</b> (*)</div>
          <div class="col-xs-6 text-right"><b>{{cart.getTotalPrice() | number:2 }} €</b></div>
        </div>
      </div>
    </td>
  </tr>
</tbody>
</table>
<p class="small">(*) Gastos de envío no incluidos</p>

<div class="col-xs-6 col-sm-9"></div>
<div class="col-xs-6 col-sm-3">
  <div class="form-group">
    <a type="button" class="btn btn-danger" ng-click="next()">
      Siguiente Paso |
      <i class="fa fa-truck"></i>
    </a>
  </div>
  <b class="small">Datos de envío</b>
  <p class="tiny text-muted"> En el siguiente paso deberá introducir la dirección a la cual se debe(n) enviar el(los) producto(s) indicados en el carrito.</p>
</div>
